EXPO_PUBLIC_API_URL=https://89.22.233.73

# Для локальной разработки (на эмуляторе/симуляторе):
# EXPO_PUBLIC_API_URL=http://10.0.2.2:3001  (Android)
# EXPO_PUBLIC_API_URL=http://localhost:3001  (iOS)
